{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contestant Scoring Analysis</title>
    <meta charset="utf-8">
    <meta name="description" content="Official Scoring Summary">
    <meta name="author" content="David E. Binetti">
    <meta name="copyright" content="&copy; 2016, David Binetti">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    {# <link rel="stylesheet" type="text/css" href="{% static 'css/bs.css' %}"> #}
    <style type="text/css">
      /* setup the page */
      @page {
          margin: 30px;
          background: #ffffff;
      }
      /* layout */
      @font-face {
        /*font-family: 'Open Sans';*/
        font-size: 12pt;
        font-style: normal;
        /*font-weight: 300;*/
        /*src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');*/
      }
      html td {
          /*font-family: 'Open Sans', sans-serif;*/
          font-size: 10pt;
      }
      li {
          /*font-family: 'Open Sans', sans-serif;*/
          font-size: 8pt;
      }

      .shortp {
        line-height: 10px;
      }

      .smallj {
        font-size: 10px;
      }

      section {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
      }
      #breakit { page-break-before: always }
      /*Condensed override*/
      .table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
          padding: 1px;
      }
      /* colors */
      .black { color: black }

      /* stylin */
      #main { margin: 0 30px; }

    </style>
  </head>
  <body>
    <section>
    <img class='pull-right' src="https://s3-us-west-1.amazonaws.com/barberscore/static/images/bhs_logo.png">
      <h4>
        Contestant Scoring Analysis
      </h4>
      {% comment %}
      <ul class='list-unstyled'>
        <li>{{performer.session.convention.name}}</li>
        <li>International {{performer.session.get_kind_display}} Contest</li>
        <li>July 6 - 9, 2016</li>
      </ul>
      {% endcomment %}
      {# <ul class='list-unstyled'> #}
      <div class='shortp'>
        <p><small>{{performer.session.convention.name}}</small></p>
        <p><small>International {{performer.session.get_kind_display}} Contest</small></p>
        <p><small>July 6 - 9, 2016</small></p>
      </div>
      {# </ul> #}
      {# {% if performer.picture %} #}
        {# <img src="{{performer.picture.url}}" height="100"> #}
      {# {% endif %} #}
      </section>
      <section>
    <img class='pull-right' src="{{performer.picture.url}}">
    {# <img class='img-thumbnail pull-right' src="https://s3-us-west-1.amazonaws.com/barberscore/static/images/foo.jpg" > #}
      <h3>
        {{performer.group.name}}
      </h3>
      {# <h4> #}
        {# {{performer.session.convention.date.upper|date:'%B %d, %Y'}} #}
      {# </h4> #}
      <h4>
        Overall Rank: {{performer.rank|default_if_none:""}}
      </h4>
      <div class='shortp'>
        <p><small>Representing: {{performer.representing.long_name}}&nbsp;District</small></p>
        <p><small>Members: {{performer.tenor.person.name}}, {{performer.lead.person.name}}, {{performer.baritone.person.name}} & {{performer.bass.person.name}}</small></p>
      </div>
      {% comment %}

        <ul class='list-unstyled'>
          {% for performance in performances %}
            <li>{{performance.round.get_kind_display}} Rank: {{performance.rank}}</li>
          {% endfor %}
        </ul>
      {% endcomment %}

      {% comment %}
      <div class='shortp'>
        <p><small>Representing: {{performer.representing.long_name}}</small></p>
        <p><small>Directed By: {{performer.director}}&nbsp;{{performer.codirector|default_if_none:""}}</small></p>
        <p><small>Men on Stage: {{performer.men}}</small></p>
        <p><small>Order of Appearance: {{performances.first.num}}</small></p>
      </div>
      {% endcomment %}
    </section>
    {% comment %}
    <section>
      {% for contestant in contestants %}
        <p>{{contestant.contest.award.name}}: {{contestant.rank}}</p>
      {% endfor %}
    </section>
    {% endcomment %}
    <section>
      <div class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
              <th>Songs</th>
              <th class='text-right'>MUS</th>
              <th class='text-right'>PRS</th>
              <th class='text-right'>SNG</th>
              <th class='text-right'>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                {% for performance in performances %}
                  {% for song in performance.songs.all %}
                    {{song.submission.title|truncatewords_html:10}}<br>
                  {% endfor %}
                  <em>{{performance.round.get_kind_display}} (OA: {{performance.num}}, Rank: {{performance.rank}})</em><br>
                {% endfor %}
                <strong>Total</strong>
              </td>
              <td class='text-right'>
                {% for performance in performances %}
                  {% for song in performance.songs.all %}
                    {{song.mus_points}} ({{song.mus_score|floatformat:1}})<br>
                  {% endfor %}
                  <em>{{performance.mus_points}} ({{performance.mus_score|floatformat:1}})</em><br>
                {% endfor %}
                <strong>{{performer.mus_points}} ({{performer.mus_score|floatformat:1}})</strong><br>
              </td>
              <td class='text-right'>
                {% for performance in performances %}
                  {% for song in performance.songs.all %}
                    {{song.prs_points}} ({{song.prs_score|floatformat:1}})<br>
                  {% endfor %}
                  <em>{{performance.prs_points}} ({{performance.prs_score|floatformat:1}})</em><br>
                {% endfor %}
                <strong>{{performer.prs_points}} ({{performer.prs_score|floatformat:1}})</strong><br>
              </td>
              <td class='text-right'>
                {% for performance in performances %}
                  {% for song in performance.songs.all %}
                    {{song.sng_points}} ({{song.sng_score|floatformat:1}})<br>
                  {% endfor %}
                  <em>{{performance.sng_points}} ({{performance.sng_score|floatformat:1}})</em><br>
                {% endfor %}
                <strong>{{performer.sng_points}} ({{performer.sng_score|floatformat:1}})</strong><br>
              </td>
              <td class='text-right'>
                {% for performance in performances %}
                  {% for song in performance.songs.all %}
                    {{song.total_points}} ({{song.total_score|floatformat:1}})<br>
                  {% endfor %}
                  <em>{{performance.total_points}} ({{performance.total_score|floatformat:1}})</em><br>
                {% endfor %}
                <strong>{{performer.total_points}} ({{performer.total_score|floatformat:1}})</strong><br>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section>
      <div class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
              <th>Songs</th>
              {% for assignment in assignments %}
                <th class='text-right'>{{assignment.designation}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                {% for performance in performances %}
                  {% for song in performance.songs.all %}
                    {{song.submission.title|truncatewords_html:4}}<br>
                  {% endfor %}
                {% endfor %}
              </td>
              {% for assignment in assignments %}
                <td class='text-right'>
                  {% for performance in performances %}
                    {% for song in performance.songs.all %}
                      {% for score in song.scores.all %}
                        {% if score.assignment == assignment %}{{score.points}}<br>{% endif %}
                      {% endfor %}
                    {% endfor %}
                  {% endfor %}
                </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    {% comment %}
    <section>
      <h4>Assignments</h4>
        <ul class='list-unstyled'>
          {% for assignment in assignments %}
            <li>{{assignment.designation}}: {{assignment.judge.person.common_name}}</li>
          {% endfor %}
        </ul>
    </section>
    {% endcomment %}
    <section>
      {% regroup assignments by get_category_display as assignment_list %}
      <table class='table'>
        {% for category in assignment_list %}
        <tbody>
            <div>
            <tr>
            <td class='smallj'><strong>{{category.grouper}}</strong></td>
            {% for assignment in category.list %}
              <td class='smallj'>{{assignment.designation}}: {{assignment.judge.person.common_name}}</td>
            {% endfor %}
          </tr>
          </div>
        {% endfor %}
        </tbody>
      </table>
    </section>
    <section>
      <small>
      <strong>IMPORTANT:</strong> <em>These CSAs are <strong>NOT OFFICIAL</strong>
      and are not to be shared outside your group.  They are for beta testing purposes only.</em>
      </small>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {# <script src="{% static 'js/bs.js' %}"></script> #}
  </body>
</html>



