{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Official Scoring Summary</title>
    <meta charset="utf-8">
    <meta name="description" content="Official Scoring Summary">
    <meta name="author" content="David E. Binetti">
    <meta name="copyright" content="&copy; 2016, David Binetti">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    {# <link rel="stylesheet" type="text/css" href="{% static 'css/bs.css' %}"> #}
    <style type="text/css">
      /* setup the page */
      @page {
          margin: 30px;
          background: #ffffff;
          size: US-Folio;
      }
      /* layout */
      @font-face {
        /*font-family: 'Open Sans';*/
        font-size: 12pt;
        src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
      }
      html td {
          /*font-family: 'Open Sans', sans-serif;*/
          font-weight: 300;
          font-size: 9pt;
          font-style: normal;
      }
      #breakit { page-break-before: always }
      /*Condensed override*/
      .table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
          padding: 2px;
      }
      .totals {
        font-weight: 300;
      }
      /* colors */
      .black { color: black }

      /* stylin */

      #main { margin: 0 30px; }
      .shortp {
        line-height: 10px;
      }

    </style>
  </head>
  <body>
    <section>
      <ul class='list-inline'>
        <li><strong>Official Scoring Summary</strong></li>
        <li><small>International {{session.get_kind_display}} Contest</small></li>
        <li><small>{{session.convention.name}}</small></li>
        <li><small>July 6 - 9, 2016</small></li>
      </ul>
    </section>
    <section>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-1'>Rank</th>
            <th class='col-md-3'>Group</th>
            <th class='col-md-4'>Songs</th>
            <th class='col-md-1 text-right'>MUS</th>
            <th class='col-md-1 text-right'>PRS</th>
            <th class='col-md-1 text-right'>SNG</th>
            <th class='col-md-1 text-right'>Total</th>
          </tr>
        </thead>
        <tbody>
          {% for performer in performers %}
            <tr>
              <td>{{performer.rank}}</td>
              <td>
                <strong>{{performer.group.name}}</strong> ({{performer.representing.short_name}})<br>
                {% if performer.group.chapter %}{{performer.group.chapter.name}}{% endif %}
              </td>
              <td>
                {% for performance in performer.performances.all %}
                  {% for song in performance.songs.all %}
                    {{song.submission.title|truncatechars:25}}<br>
                  {% endfor %}
                  {% if performer.session.num_rounds > 1 and performer.rank < 21 %}
                    <em>{{performance.round.get_kind_display}}</em><br>
                  {% endif %}
                {% endfor %}
                <strong>Total</strong>
              </td>
              <td class='text-right'>
                {% for performance in performer.performances.all %}
                  {% for song in performance.songs.all %}
                    {{song.mus_points}} ({{song.mus_score|floatformat:1}})<br>
                  {% endfor %}
                  {% if performer.session.num_rounds > 1 and performer.rank < 21 %}
                    <em>{{performance.mus_points}} ({{performance.mus_score|floatformat:1}})</em><br>
                  {% endif %}
                {% endfor %}
                <strong>{{performer.mus_points}} ({{performer.mus_score|floatformat:1}})</strong>
              </td>
              <td class='text-right'>
                {% for performance in performer.performances.all %}
                  {% for song in performance.songs.all %}
                    {{song.prs_points}} ({{song.prs_score|floatformat:1}})<br>
                  {% endfor %}
                  {% if performer.session.num_rounds > 1 and performer.rank < 21 %}
                  <em>{{performance.prs_points}} ({{performance.prs_score|floatformat:1}})</em><br>
                  {% endif %}
                {% endfor %}
                <strong>{{performer.prs_points}} ({{performer.prs_score|floatformat:1}})</strong>
              </td>
              <td class='text-right'>
                {% for performance in performer.performances.all %}
                  {% for song in performance.songs.all %}
                    {{song.sng_points}} ({{song.sng_score|floatformat:1}})<br>
                  {% endfor %}
                  {% if performer.session.num_rounds > 1 and performer.rank < 21 %}
                  <em>{{performance.sng_points}} ({{performance.sng_score|floatformat:1}})</em><br>
                  {% endif %}
                {% endfor %}
                <strong>{{performer.sng_points}} ({{performer.sng_score|floatformat:1}})</strong>
              </td>
              <td class='text-right'>
                {% for performance in performer.performances.all %}
                  {% for song in performance.songs.all %}
                    {{song.total_points}} ({{song.total_score|floatformat:1}})<br>
                  {% endfor %}
                  {% if performer.session.num_rounds > 1 and performer.rank < 21 %}
                    <em>{{performance.total_points}} ({{performance.total_score|floatformat:1}})</em><br>
                  {% endif %}
                {% endfor %}
                <strong>{{performer.total_points}} ({{performer.total_score|floatformat:1}})</strong>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
    <section>
      <h4>Assignments</h4>
      {% regroup assignments by get_category_display as assignment_list %}
        <ul class='list-unstyled'>
        {% for category in assignment_list %}
          <li class='smallj'><strong>{{category.grouper}}:</strong>
            {% for assignment in category.list %}
              {{assignment.judge.person.common_name}}{% if forloop.last %}{% else %},{% endif %}
            {% endfor %}
          </li>
        {% endfor %}
      </ul>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {# <script src="{% static 'js/bs.js' %}"></script> #}
  </body>
</html>


{# {% if not forloop.first %},{% endif %} #}
